<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>{{username}}</div>
    <div>{{age}}</div>
    <div>
        {{if age > 18}}
            hello，adults！
        {{else}}
            hello,children!
        {{/if}}
    </div>
    <div>
        {{each orders as order index}}
            {{index}} {{order.index}}
        {{/each}}
    </div>
</body>
</html>